<style>
/* div[class*=col-] {
	border: 1px solid #ccc;
} */
</style>
 <div class="generic-container" ng-controller="TicketController as ctrl">
          <div class="panel panel-default">
              <div class="panel-heading"><span class="lead">Create new Ticket</span></div>
              <div class="formcontainer test">
                  <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                      <input type="hidden" ng-model="ctrl.ticket.id" />
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="dateTime">Date & Time</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.ticket.dateTime" id="dateTime" class="field form-control input-sm" placeholder="Enter Date And Time" required ng-minlength="3"/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.dateTime.$error.required">This is a required field</span>
                                      <span ng-show="myForm.dateTime.$error.minlength">Minimum length required is 3</span>
                                      <span ng-show="myForm.dateTime.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="name">Name</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.ticket.name" id="name" class="field form-control input-sm" placeholder="Enter Project name" required ng-minlength="3"/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.name.$error.required">This is a required field</span>
                                      <span ng-show="myForm.name.$error.minlength">Minimum length required is 3</span>
                                      <span ng-show="myForm.name.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div> -->
 					  <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="customer">Customer</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.ticket.customer" id="customer" class="field form-control input-sm" placeholder="Customer" required ng-minlength="3"/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.customer.$error.required">This is a required field</span>
                                      <span ng-show="myForm.customer.$error.minlength">Minimum length required is 3</span>
                                      <span ng-show="myForm.customer.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div>
                      	<div class="col-md-3">
                           	<label class="col-md-2 control-lable" for="stage">Systems Involved</label>
                        </div>
                        <div class="col-md-9">
	                        <div class="row">
	                          <div class="form-group col-md-12">
	                              <div class="col-md-3">
	                              	<label class="col-md-2 control-lable" for="stage">Stage</label>
	                              </div>
	                              <div class="col-md-4">
	                                  <!-- <input type="text" ng-model="ctrl.ticket.stage" id="stage" 
	                                  class="field form-control input-sm" placeholder="Stage" required ng-minlength="3"/> -->
	                                  <select id="stage" class="field form-control input-sm" name="stage" 
		                                  ng-options="option.a as option.b for option in ctrl.myOptions" 
		                                  ng-model="ctrl.ticket.stage" placeholder="Stage" required>
	                                  </select>
	                                  <div class="has-error" ng-show="myForm.$dirty">
	                                      <span ng-show="myForm.stage.$error.required">This is a required field</span>
	                                      <span ng-show="myForm.stage.$error.minlength">Minimum length required is 3</span>
	                                      <span ng-show="myForm.stage.$invalid">This field is invalid </span>
	                                  </div>
	                              </div>
	                          </div>
	                     	 </div>
	                     	 <div class="row">
	                          <div class="form-group col-md-12">
	                              <div class="col-md-3">
	                              	<label class="col-md-2 control-lable" for="url">Url</label>
	                              </div>
	                              <div class="col-md-4">
	                                  <input type="text" ng-model="ctrl.ticket.url" id="url" 
	                                  class="field form-control input-sm" placeholder="URL" required ng-minlength="3"/>
	                                  <div class="has-error" ng-show="myForm.$dirty">
	                                      <span ng-show="myForm.url.$error.required">This is a required field</span>
	                                      <span ng-show="myForm.url.$error.minlength">Minimum length required is 3</span>
	                                      <span ng-show="myForm.url.$invalid">This field is invalid </span>
	                                  </div>
	                              </div>
	                          </div>
	                     	 </div>
	                     	 <div class="row">
	                          <div class="form-group col-md-12">
	                              <div class="col-md-3">
	                              	<label class="col-md-2 control-lable" for="serversToPatch">Servers to patch</label>
	                              </div>
	                              <div class="col-md-4">
	                                  <input type="text" ng-model="ctrl.ticket.serversToPatch" id="serversToPatch" 
	                                  class="field form-control input-sm" placeholder="Servers to Patch" required ng-minlength="3"/>
	                                  <div class="has-error" ng-show="myForm.$dirty">
	                                      <span ng-show="myForm.serversToPatch.$error.required">This is a required field</span>
	                                      <span ng-show="myForm.serversToPatch.$error.minlength">Minimum length required is 3</span>
	                                      <span ng-show="myForm.serversToPatch.$invalid">This field is invalid </span>
	                                  </div>
	                              </div>
	                          </div>
	                     	 </div>
	                     	 <div class="row">
	                          <div class="form-group col-md-12">
	                              <div class="col-md-3">
	                              	<label class="col-md-2 control-lable" for="connection">Connection</label>
	                              </div>
	                              <div class="col-md-4">
	                                  <input type="text" ng-model="ctrl.ticket.connection" id="connection" 
	                                  class="field form-control input-sm" placeholder="Connection" required ng-minlength="3"/>
	                                  <div class="has-error" ng-show="myForm.$dirty">
	                                      <span ng-show="myForm.connection.$error.required">This is a required field</span>
	                                      <span ng-show="myForm.connection.$error.minlength">Minimum length required is 3</span>
	                                      <span ng-show="myForm.connection.$invalid">This field is invalid </span>
	                                  </div>
	                              </div>
	                          </div>
	                     	 </div>
	                     	 <div class="row">
	                          <div class="form-group col-md-12">
	                              <div class="col-md-3">
	                              	<label class="col-md-2 control-lable" for="installationPath">Installation Path</label>
	                              </div>
	                              <div class="col-md-4">
	                                  <input type="text" ng-model="ctrl.ticket.installationPath" id="installationPath" 
	                                  class="field form-control input-sm" placeholder="Installation Path" required ng-minlength="3"/>
	                                  <div class="has-error" ng-show="myForm.$dirty">
	                                      <span ng-show="myForm.installationPath.$error.required">This is a required field</span>
	                                      <span ng-show="myForm.installationPath.$error.minlength">Minimum length required is 3</span>
	                                      <span ng-show="myForm.installationPath.$invalid">This field is invalid </span>
	                                  </div>
	                              </div>
	                          </div>
	                     	 </div>
	                      </div>
                      </div>
                      
                      <div>
                      	<div class="col-md-3">
                           	<label class="col-md-2 control-lable" for="stage">Previous Packages</label>
                        </div>
                        <div class="col-md-9">
                        	<div ng-repeat="item in ctrl.ticket.previousPackages track by $index">
			            
			        		
		                        <div class="row">
		                          <div class="form-group col-md-12">
		                              <div class="col-md-3">
		                              	<label class="col-md-2 control-lable" >{{$index + 1}}</label>
		                              </div>
		                              <div class="col-md-4">
		                                  <input type="text" ng-model="ctrl.ticket.previousPackages[$index]" 
		                                  class="field form-control input-sm" placeholder="" required ng-minlength="3"/>
		                              </div>
		                          </div>
		                     	 </div>
	                     	 </div>
	                      </div>
                      </div>
                      
                      <div>
                      	<div class="col-md-3">
                           	<label class="col-md-2 control-lable" for="stage">Patching Versions</label>
                        </div>
                        <div class="col-md-9">
                        	<div ng-repeat="item in ctrl.ticket.patchingVersions track by $index">
			            
			        		
		                        <div class="row">
		                          <div class="form-group col-md-12">
		                              <div class="col-md-3">
		                              	<label class="col-md-2 control-lable" >{{$index + 1}}</label>
		                              </div>
		                              <div class="col-md-4">
		                                  <input type="text" ng-model="ctrl.ticket.patchingVersions[$index]" 
		                                  class="field form-control input-sm" placeholder="" required ng-minlength="3"/>
		                              </div>
		                          </div>
		                     	 </div>
	                     	 </div>
	                      </div>
                      </div>
                      
                      <div class="row">
                          <div class="form-actions floatRight">
                              <input type="submit"  value="{{!ctrl.ticket.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                              <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          
          
	<!--Table-->
	<div class="panel panel-default">
                <!-- Default panel contents -->
              <div class="panel-heading"><span class="lead">List of Tickets</span></div>
              <div class="tablecontainer">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th><a href=""
							        ng-click="sortBy('id')">Ticket Id
							        <span class="sortorder" ng-show="propertyName === 'id'" ng-class="{reverse: reverse}"></span>
						        </a>
					        </th>
					        <th><a href=""
							        ng-click="sortBy('customer')">Customer Name
							        <span class="sortorder" ng-show="propertyName === 'customer'" ng-class="{reverse: reverse}"></span>
						        </a>
					        </th>
                              <!-- <th>Price</th> -->
                              <th width="25%"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="p in ctrl.tickets | orderBy:propertyName:reverse">
                              <td><span ng-bind="p.id"></span></td>
                              <td><span ng-bind="p.customer"></span></td>
                              <td>
                              	<button type="button"
								ng-click="ctrl.edit(p.id)" class="btn btn-success custom-width">Edit</button>
								<button type="button" ng-click="ctrl.remove(p.id)"
								class="btn btn-danger custom-width">Remove</button>
								<button type="button" ng-click="ctrl.showBugs(p.id)"
								class="btn btn-primary btn-sm custom-width">List of Tickets</button>
						</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>