 <div class="generic-container" ng-controller="ProjectController as ctrl">
          <div class="panel panel-default">
              <div class="panel-heading"><span class="lead">Create new Project</span></div>
              <div class="formcontainer">
                  <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                      <input type="hidden" ng-model="ctrl.project.id" />
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="name">Name</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.project.name" id="name" class="field form-control input-sm" placeholder="Enter Project name" required ng-minlength="3"/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.name.$error.required">This is a required field</span>
                                      <span ng-show="myForm.name.$error.minlength">Minimum length required is 3</span>
                                      <span ng-show="myForm.name.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="description">Description</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.project.description" id="description" class="field form-control input-sm" placeholder="Enter Project Description" required ng-minlength="3"/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.name.$error.required">This is a required field</span>
                                      <span ng-show="myForm.name.$error.minlength">Minimum length required is 3</span>
                                      <span ng-show="myForm.name.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>
 
                      <div class="row">
                          <div class="form-actions floatRight">
                              <input type="submit"  value="{{!ctrl.project.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                              <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          
          <div class="panel panel-default">
                <!-- Default panel contents -->
              <div class="panel-heading"><span class="lead">List of Projects</span></div>
              <div class="tablecontainer">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th><a href=""
							        ng-click="sortBy('id')">Project Id
							        <span class="sortorder" ng-show="propertyName === 'id'" ng-class="{reverse: reverse}"></span>
						        </a>
					        </th>
					        <th><a href=""
							        ng-click="sortBy('name')">Project Name
							        <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
						        </a>
					        </th>
					        <th><a href=""
							        ng-click="sortBy('desciption')">Project Description
							        <span class="sortorder" ng-show="propertyName === 'description'" ng-class="{reverse: reverse}"></span>
						        </a>
					        </th>
                              <!-- <th>Price</th> -->
                              <th width="25%"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="p in ctrl.projects | orderBy:propertyName:reverse">
                              <td><span ng-bind="p.id"></span></td>
                              <td><span ng-bind="p.name"></span></td>
                              <td><span ng-bind="p.description"></span></td>
                              <td>
                              	<button type="button"
								ng-click="ctrl.edit(p.id)" class="btn btn-success custom-width">Edit</button>
								<button type="button" ng-click="ctrl.remove(p.id)"
								class="btn btn-danger custom-width">Remove</button>
								<button type="button" ng-click="ctrl.showBugs(p.id)"
								class="btn btn-primary btn-sm custom-width">List of Bugs</button>
						</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      <